.nav-bar{
    height: 70px;
    width: 1800px;
    background-color: pink;
    margin-left: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
}

.nav-logo {
    height: 50px;
    width: 180px;
}

.search-icom {
    height: 29px;
    width: 29px;
    padding: 10px 10px 10px 15px;
}

.search-bar input {
    width: 870px;
    height: 40px;
    
}